on:
  push:
    branches:
      - master
  pull_request:
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Test
        run: go test -race -covermode=atomic -coverprofile="profile.cov" ./...

      - name: Send Coverage
        if: matrix.os == 'ubuntu-latest' && matrix.go-version == '1.24.x'
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest